# cache
__pycache__
.ruff_cache/
.mypy_cache/

# ide
.vscode

# venv
.venv/
venv/

# gojira
data/config.env
gojira/database/db.sqlite3*
locales/*/*/*.mo

# rye
requirements.lock
requirements-dev.lock
.python-version
